body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #ccc5b9;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #252422;
  border-left: 1px solid #403d39;
  padding: 10px;

}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #252422;
  background-color: #fffcf2;
  border-radius: 0;
  border-bottom: 10px solid #eb5e28;
}

.description {
  white-space: pre-wrap;
  font-weight: bold;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #fffcf2;
}

.hour {
  background-color: #fffcf2;
  color: #252422;
  border-bottom: 1px dashed #403d39;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #d3d3d3;
  color: #fffcf2;
}

.present {
  background-color: #61c5ff;
  color: #fffcf2;
}

.future {
  background-color: #a8f1a8;
  color: #fffcf2;
}

.saveBtn {
  border-left: 1px solid #252422;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  background-color: #252422;
  color: #CCFF99;
}

.saveBtn:hover {
  border-left: 1px solid #252422;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  background-color: #CCFF99;
  color: #252422;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.clearBtn {
  border-left: 1px solid #252422;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #252422;
  color: #FF9999;
}

.clearBtn:hover {
  border-left: 1px solid #252422;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FF9999;
  color: #252422;
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.notification {
  display: none;
  color: #252422;
  margin-bottom: 20px;
}

.show {
  display: block;
}